@charset "utf-8";
*, *:after, *:before, *::after, *::before {box-sizing:border-box;-o-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
a{background-color:transparent;color:blue;text-decoration:underline;-webkit-text-decoration-skip:objects;}
a:active{border-width:00px;outline:none;outline-style:none;outline-width:00px;}
a:focus{background-color:lightyellow;border-width:00px;color:black;outline-color:red;outline-style:solid;outline-width:01px;text-decoration:none!important;}
abbr[title],acronym[title],dfn[title]{border-bottom:01px dotted;cursor:help;text-decoration:none;}
address{display:block;font-style:italic;}
area{display:none;}
article{display:block;}
aside{display:block;}
audio{display:inline-block;}
audio:not([controls]){display:none;font-size:00px;line-height:00px;}
b{font-weight:inherit;font-weight:bold;}
base{display:none;}
bdi{unicode-bidi:-webkit-isolate;}
bdo{unicode-bidi:bidi-override;}
big{font-size:01.2000em;}
blockquote{display:block;margin:01.0000em 40px;quotes:initial;width:auto;}
blockquote:after,blockquote:before{content:"\0027 \0027";}
body{background-color:transparent;display:block;font-size:18px;height:auto;line-height:01.5400em;margin:00px auto;width:auto;}
body:focus{outline:none;outline-width:00px;}
br{clear:both;padding:00px;margin:00px auto;width:auto;}
button{background-color:transparent;border:01px solid;overflow:visible;text-transform:none;-moz-appearance:none;-webkit-appearance:none;}
canvas{display:inline-block;}
caption{display:table-caption;margin:00.6500em 00em;text-align:left;}
center{text-align:center;}
cite{font-style:italic;}
code{display:inline-block;font-family:monospace, monospace;font-size:inherit;}
col{display:table-column;}
colgroup{display:table-column-group;}
command{}
datalist{display:none;}
dd{display:block;margin-left:20px;}
del{background-color:transparent;text-decoration:line-through;}
details{display:block;}
dfn{font-family:monospace, monospace;font-style:italic;}
dir{display:block;margin-left:40px;padding:00px;}
div{display:block;height:auto;width:auto;}
dl{display:block;margin:04px 10px;line-height:01.5400em;}
dt{display:block;font-weight:bold;}
em{font-style:oblique;}
embed{display:block;height:auto;}
embed:focus{outline:none;outline-width:00px;}
fieldset{border:01px solid;display:block;margin:02px;padding:00.3500em 00.7500em 00.62500em 00.7500em;}
figcaption{display:block;height:auto;}
figure{display:block;margin:01.0000em 02.0000em;}
footer{display:block;}
form{display:block;margin-top:00em;}
frame{display:block;height:auto;}
frameset{display:block;height:auto;}
h1{font-size:02.000001em;}
h2{font-size:01.777771em;}
h3{font-size:01.555551em;}
h4{font-size:01.333331em;}
h5{font-size:01.222221em;}
h6{font-size:00.925001em;}
h1,h2,h3,h4,h5,h6{font-weight:bold;}
h1,h2,h3,h4,h5,h6,p{color:inherit;display:block;line-height:01.5400em;margin:00px auto;padding:04px 00px;}
head{display:none;}
header{display:block;}
hgroup{display:block;}
hr{border-width:00px;border-bottom:01px solid;box-sizing:content-box;display:block;margin:00.5000em auto;overflow:visible;}
html{background-color:white;color:black;display:block;font-family:sans-serif, serif;line-height:01.5400em;margin:00px auto;height:auto;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
html:focus{outline:none;outline-width:00px;}
i{font-style:italic;}
iframe{display:block;}
iframe:focus{outline:none;outline-width:00px;}
iframe[seamless]{display:block;}
img{border-width:00px;display:inline-block;}
input{font-size:01.0000em;overflow:visible;}
input[type="text"]{border:01px inset;-moz-appearance:textfield;-webkit-appearance:textfield;}
input[type="password"]{border:01px inset;-moz-appearance:textfield;-webkit-appearance:textfield;}
input[type="checkbox"]{box-sizing:border-box;padding:00px;-moz-appearance:checkbox;-webkit-appearance:checkbox;}
input[type="radio"]{box-sizing:border-box;padding:00px;-moz-appearance:radio;-webkit-appearance:radio;}
input[type="button"]{border:01px inset;-moz-appearance:none;-webkit-appearance:none;}
input[type="submit"]{border:01px inset;-moz-appearance:none;-webkit-appearance:none;}
input[type="reset"]{border:01px inset;-moz-appearance:none;-webkit-appearance:none;}
input[type="file"]{}
input[type="hidden"]{display:none;}
input[type="image"]{}
input[type="datetime"]{display:none;}
input[type="datetime-local"]{display:none;}
input[type="date"]{}
input[type="month"]{}
input[type="time"]{}
input[type="week"]{}
input[type="number"]{}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto;}
input[type="range"]{box-sizing:border-box;padding:00px;}
input[type="email"]{border:01px inset;-moz-appearance:textfield;-webkit-appearance:textfield;}
input[type="url"]{border:01px inset;-moz-appearance:textfield;-webkit-appearance:textfield;}
input[type="search"]{border:01px inset;outline-offset:-02px;-moz-appearance:textfield;-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance:none!important;}
input[type="tel"]{border:01px inset;-moz-appearance:textfield;-webkit-appearance:textfield;}
input[type="color"]{}
ins{text-decoration:underline;}
kbd{font-family:monospace, monospace;font-style:normal;}
label{cursor:default;font:inherit;}
legend{border:none;border-width:00px;display:block;padding:00px 02px;text-align:left;width:auto;white-space:normal;}
li{display:list-item;text-align:-webkit-match-parent;}
link{display:none;}
map{display:inline;}
mark{background-color:yellow;color:black;}
menu{display:block;list-style-type:disc;margin:01.0000em 00.0000em;padding-left:02.0000em;}
meta{display:none;}
meter{display:inline;-moz-appearance:meterbar;-webkit-appearance:meterbar;}
::-moz-focus-inner{border-width:00px;outline-offset:00px;outline-width:00px;}
nav{display:block;margin:00px;padding:00px;width:auto;}
noframes{}
noscript{}
object{display:block;height:auto;width:auto;}
object:focus{outline:none;outline-width:00px;}
ol{display:block;line-height:01.5400em;margin:01.0000em 00em;padding:00px 30px;}
ol li{list-style-type:decimal;}
ol li ol li{list-style-type:lower-alpha;}
optgroup{display:block;font-weight:bold;}
option{display:block;}
output{display:inline;}
output{unicode-bidi:-webkit-isolate;}
p{display:block;font-size:01.0000em;font-weight:normal;margin:00px auto;padding:08px 04px;}
param{display:none;}
pre{display:block;font-family:monospace, monospace;font-size:00.9000em;margin:01.0000em auto;overflow:auto;white-space:pre;}
progress{border-width:00px;display:inline-block;padding:00px;vertical-align:baseline;-moz-appearance:progressbar;-webkit-appearance:progressbar;}
q{display:inline;quotes:initial;}
q:after{content:close-quote;}
q:before{content:open-quote;}
rt{line-height:normal;font-size:inherit;}
ruby{display:block;font-size:01.0000em;}
s{text-decoration:line-through;}
samp{font-family:monospace, monospace;font-size:inherit;font-weight:normal;}
script{display:none;}
section{display:block;}
select{text-transform:none;}
small{font-size:00.8500em;}
source{display:none;}
span{display:inline-block;}
strong{font-weight:inherit;font-weight:bolder;}
style{display:none;}
svg{overflow:hidden;}
sub{font-size:00.8000em;vertical-align:sub;}
summary{display:list-item;}
sup{font-size:00.8000em;vertical-align:super;}
svg:not(:root){overflow:hidden;}
table{border-color:gray;border-collapse:separate;border-spacing:01px;display:table;overflow:auto;}
tbody{border-color:inherit;display:table-row-group;line-height:01.0000em;vertical-align:middle;}
td{display:table-cell;font-size:01.0000em;vertical-align:inherit;}
textarea{border:01px inset;font-size:01.0000em;min-height:50px;overflow:auto;}
tfoot{border-color:inherit;display:table-footer-group;vertical-align:middle;}
th{display:table-cell;font-size:01.0000em;font-weight:bold;text-align:left;vertical-align:inherit;}
thead{border-color:inherit;display:table-header-group;vertical-align:middle;}
time{}
title{display:none;}
tr{border-color:inherit;display:table-row;vertical-align:inherit;}
track{display:none;}
tt{font-family:monospace;font-size:01.0000em;}
u{text-decoration:underline;}
ul{display:block;line-height:01.5400em;margin:01.0000em 00em;padding:00px 25px;}
ul li{list-style-type:disc;}
ul li ul li{list-style-type:circle;}
ul li ul li ul li{list-style-type:square;}
var{font-family:monospace;font-style:italic;}
video{display:inline-block;}
wbr{}
::-webkit-file-upload-button{font:inherit;-webkit-appearance:button;}

/* Fastyle CSS Tool and Restyle CSS Reset - Public Domain Dedication. */
