@charset "utf-8"; /*

  Tuffy Font (Version 1.28) by Thatcher Ulrich.
  ---------------------------------------------------------------
  - Tuffy Bold
  - Tuffy Bold Italic
  - Tuffy Italic
  - Tuffy Regular
  ---------------------------------------------------------------
  @author  : Thatcher Ulrich
  @webUrl  : tulrich.com
  @license : Public Domain Dedication
  @font    : tulrich.com/fonts
  ---------------------------------------------------------------
  !! Please, see end-file for customizations. Thanks!
*/

@font-face {
font-family:"TuffyBold";
src:url("../fonts/tuffy/TuffyBold.ttf") format("truetype");
font-weight:bold;
font-style:normal;
}
@font-face {
font-family:"TuffyBoldItalic";
src:url("../fonts/tuffy/TuffyBoldItalic.ttf") format("truetype");
font-weight:bold;
font-style:italic;
}
@font-face {
font-family:"TuffyItalic";
src:url("../fonts/tuffy/TuffyItalic.ttf") format("truetype");
font-weight:normal;
font-style:italic;
}
@font-face {
font-family:"TuffyRegular";
src:url("../fonts/tuffy/TuffyRegular.ttf") format("truetype");
font-weight:normal;
font-style:normal;
}

/* Customizations  */

html, body {font-family:"TuffyRegular", sans-serif;}
b, h1, h2, h3, h4, h5, h6, strong {font-family:"TuffyBold";}
em, i {font-family:"TuffyItalic";}
b > i, i > b {font-family:"TuffyBoldItalic";}
b > em, em > b {font-family:"TuffyBoldItalic";}
code,kbd,samp {font-family:monospace;}
strong > em, em > strong, strong > i, i > strong {font-family:"TuffyBoldItalic";}
